<section class="aboutus">
    <div class="container">
        <div class="clr-row">
            <div class="clr-col-lg-12 about-us-content">
                <h2>Refund Policy</h2>
                <p> Participants/Registrants for our live events, may cancel up to 72 hours prior to the start of the live session and Traininngsonline.com will issue a letter of credit to be used towards any of Traininngsonline.com’s future events. The letter of credit will be valid for 6 months.
                </p> 
                
               <p>Traininngsonline.com will process refund only in cases where the event has been cancelled and is not rescheduled within 90 days from the original scheduled date of the webinar. In case if a live webinar is cancelled, participants/registrants may choose between recorded version of the course or a refund. Refunds will not be processed to participants who do not show up for the webinar. A webinar may be cancelled due to unavoidable circumstances, participants will be notified 24 hours before the scheduled start of the event. Contact us via email: <a href="mailto:support@Traininngsonline.com">support@Traininngsonline.com</a>  or call us at <a href="tel:+1 323 745 1389">+1 323 745 1389</a> </p>

            </div>
        </div>
    </div>
</section>