<section class="aboutus">
    <div class="container">
        <div class="clr-row">
            <div class="clr-col-lg-12 about-us-content">
                <h2>Refund & Cancellation Policy</h2>
                <p>
                    <b>TraininngsOnline</b> reserves the right to cancel or reschedule any Webinar/event due to inevitable
                    reasons such as insufficient registrations or circumstances beyond its control. All the attendees
                    will be notified about the cancellation of the event, 48 hours prior to the start time of the
                    webinar session.
                </p>
                <p>
                    Upon such cancellation, the participants have the privilege to choose any of the following options
                    and drop an email to <a href="mailto:support@Traininngsonline.com">support@Traininngsonline.com</a>
                    to process your request.
                    
                </p>
                <p>1. Registered participants will get a full refund and the refund will be processed within 5-7 working
                    days.
                </p>
                <p>2. Participants may opt to take a different webinar available at the same/ equivalent price at a future
                    date & time and drop us an email with the details of the webinar they purchased and the details of
                    the webinar they wish to purchase.

                </p>
                <p>3. The cancelled Webinar could be rescheduled, and a new date would be promptly intimated to the
                    attendees.</p>
                <p>4. In the case where a live webinar is cancelled, registrants of the webinar may choose for recorded
                    version of the webinar (Valid for 6 months).

                </p>
                <p><b>Refunds will not be processed for the following criteria:</b></p>
                <p>1.  Refunds will not be processed if Participants/Customers do not show up for the webinar even after multiple remainders and follow ups</p>
                <p>2. If a webinar is canceled completely and an attendee may opt either of above points 1,2,3,4. However, <b>TraininngsOnline</b> will not be responsible for any penalties or other expenditure incurred due to the cancellation.

                </p>
                <p>3. If the attendees were in the live session for either 30 mins or more than 30 mins of the time and request for refund due to any of the circumstances is not acceptable and will not be encouraged
                    
                </p>

            </div>
        </div>
    </div>
</section>