<section class="homePage-webinars">
    <div class="container">
        <div class="clr-row">
            <div class="clr-col-12 side-headings">
                <h2 class="">Upcoming Webinars</h2>
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-xl-3 clr-col-lg-3 clr-col-md-6 clr-col-12" *ngFor="let webinar of sortByDate; let i=index">
                <!-- href="{{baseUrl}}users/webinar-detail?title={{webinar.title}}&id={{webinar.id}}" -->
                <a  href="{{baseUrl}}users/webinar-detail/{{(webinar.title | transform)}}_{{webinar.id}}"  class="main-webinar" *ngIf="i<4">
                    <div class="card webinar-card">
                        <div class="card-img">
                            <img src="{{webinar.webinarImageUrl}}" />
                        </div>
                        <div class="card-block">
                            <div class="card-text ">
                                <a  href="{{baseUrl}}users/webinar-detail/{{(webinar.title | transform)}}_{{webinar.id}}">
                                    <h2 class="webinar-title">{{webinar.title}}</h2>
                                </a>
                                <div class="webinar-details">
                                    <div class="webinar-details_one">
                                        <cds-icon shape="user" size="sm"></cds-icon>
                                        <span>{{webinar.author.toUpperCase()}}</span>
                                    </div>
                                    <div class="webinar-details_two">
                                        <cds-icon shape="calendar" size="sm"></cds-icon><span>{{webinar.date | date:'mediumDate'}}</span>
                                    </div>
                                </div>
                                <div class="webinar-details">
                                    <div class="webinar-details_one">
                                        <cds-icon shape="clock" size="sm"></cds-icon> <span>{{this.tConvert(webinar.pdtTime)}} PDT | {{this.tConvert(webinar.edtTime)}} EDT</span>
                                    </div>
                                    <div class="webinar-details_two">
                                        <cds-icon shape="alarm-clock" size="sm"></cds-icon> <span>{{webinar.duration}}
                                            MINS</span>
                                    </div>
                                </div>
                                <div class="webinar-details">
                                    <div class="webinar-details_price">
                                        <!-- <cds-icon shape="dollar" size="sm"></cds-icon> -->
                                        <!-- <span>{{webinar.liveOneAttendeePrice}} USD</span> -->
                                        <ng-container *ngIf="!isValid(webinar.disliveOneAttendeePrice)">
                                            {{webinar.liveOneAttendeePrice}}
                                        </ng-container>
                                        <ng-container *ngIf="isValid(webinar.disliveOneAttendeePrice)">
                                                <del>{{webinar.liveOneAttendeePrice}}</del> &nbsp; ${{webinar.disliveOneAttendeePrice}}
                                        </ng-container>
                                        USD
                                    </div>
                                    <div class="webinar-details_view">
                                        <!-- <button type="button" class="btn btn-icon btn-success" aria-label="settings"
                                            (click)="viewDetails(webinar)"> -->
                                        <a class="btn btn-icon btn-success" href="{{baseUrl}}users/webinar-detail?title={{webinar.title}}&id={{webinar.id}}">
                                            <cds-icon shape="eye" size="sm"></cds-icon> View
                                        </a>
                                        <!-- </button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>