.form-control{
    width: 100%;
    margin: 0.3rem 0;
    height: 40px;
    border: none;
    border-bottom: 1px solid gray;
    padding: 5px;
    border-radius: 2px;
}
.form-heading{
    margin-top: 0 !important;
}
.card{
    padding-bottom: 1rem;
}
.card .card-header{
    margin-bottom: 1rem;
}