<section class="aboutus">
    <div class="container">
        <div class="clr-row">
            <div class="clr-col-lg-12 about-us-content">
                <h2>Who We are:</h2>
                <p> Traininngsonline.com is one of the world’s leading online training provider. Traininngsonline.com is a comprehensive training solutions provider offering professional trainings that are valuable and cost effective. We offer online interactive participation feature, by which professionals from any part of the world can join with us for any courses by some of the best-known experts worldwide.
                    <br>
                    <br>
                    Our objective is clear and simple – to offer an ideal platform for all professionals to learn, educate & succeed. We want also to provide consulting services and customized training programs. Please take a few minutes to check our offerings. We welcome you to contact us anytime if you have any queries or need additional information. Traininngsonline.com offers professional training in a vast number of specialized Industry.
                    <br>
                    <br>
                    <b> These are among the many Industries on which Traininngsonline.com offers learning:</b>
                </p> 
                <ol cds-list>
                    <li>FDA Compliance</li>
                    <li>Quality Management</li>
                    <li>OSHA Compliance</li>
                    <li>Auditing, Accounting & Tax</li>
                    <li> Banking and Insurance</li>
                    <li>Risk Management</li>
                    <li>Human Resources</li>
                    <li>IT</li>
                    <li>HIPAA</li>
                    <li>SOX</li>
                    <li>Food</li>
                    <li>Excel</li>
                    <li>Finance</li>
                    <li>Environmental</li>
                    <li> Health Care
                    </li>
                    <li>Oil, Energy
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>