<section class="aboutus">
    <div class="container">
        <div class="clr-row">
            <div class="clr-col-lg-12 about-us-content">
                <h2>Support</h2>
                <p> Traininngsonline.com is more than pleased to be of service to you. We are happy to offer extended customer support to you, our privileged customers. We provide immediate assistance to all your queries, and will try our best to resolve them at the earliest.
                    <br>
                    <br>
                    Please get in touch at any of these if you have any Support issues:

                </p> 
                <p>Phone: <a href="tel:+1 323 745 1389">US: +1 323 745 1389</a></p>
                <p>Email: <a href="mailto:support@traininngsonline.com">support@traininngsonline.com</a></p>
            </div>
        </div>
    </div>
</section>