.form-control{
    width: 100%;
    margin: 0.3rem 0;
    height: 40px;
    border: none;
    border-bottom: 1px solid gray;
    padding: 5px;
    border-radius: 2px;
}

.contact-page-heading{
    margin-bottom: 2rem;
    color: #000;
    font-size: 40px;
    color: blueviolet;
    font-weight: 500;
}

.contact-info-header h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.contact-info-card h5{
    font-size: 18px;
    font-weight: 600;
}
.contact-info-card a{
    margin-left: 10px;
    text-decoration: none;
    color: #000;
}