<section class="aboutus">
    <div class="container">
        <div class="clr-row">
            <div class="clr-col-lg-12 about-us-content">
                <h2>Terms and Conditions</h2>
                <p> Welcome to the Traininngsonline.com website (the “Site” / “Traininngs Online”), operated by Adeptbrain Global Solutions Pvt. Ltd., a company incorporated under the Companies Act 2013 (“we”, “us” “our” or “the owner”). Your use of the Site or use of any of the services offered on or via the Site is subject to these terms and conditions.
                    <br><br>
                    If you wish to use Traininngsonline.com services and products, then you need to firstly agree with our Terms of Use. Use of Traininngsonline.com website automatically represents acceptance of this policy. Even before you continue, we would suggest you print or save a local copy of our Terms of Use for your records.
                </p> 
                <h4>Copyright Issues</h4>
               <p>When using Traininngsonline.com website, you may encounter documents or other information resources contributed or licensed by private individuals, companies, or organizations that may be protected by U.S. and foreign copyright laws. Transmission or reproduction of protected items beyond that allowed by fair use (PDF link) as defined in the copyright laws requires the written permission of the copyright owners.</p>
               <h4>Intellectual Property</h4>
               <p>The trademarks, service marks and logos including the name Traininngsonline.com and Traininngsonline.com logo used and displayed on this website belong to Traininngsonline.com. Nothing on this website should be construed as granting, by implication, or otherwise, any license or right to use any trademark displayed on this website, without the prior written permission.</p>
               <h4>
                Links
               </h4>
               <p>Traininngsonline.com website may contain links to other sites. Traininngsonline.com has no control over the information and privacy policies and practices of those websites, and is not responsible for their content, collection and use of information, or freedom from error or viruses. It is your responsibility to recognize, by paying attention to your browser’s address bar, when you are leaving Traininngsonline.com site.</p>
               <h4>Disclaimers</h4>
               <p>Information presented on this website is collected, maintained, and provided for the convenience of the site visitor\reader. While every effort is made to keep such information accurate and up-to-date, Traininngsonline.com cannot certify the accuracy and\or authenticity of any information that originates from third parties. Under no circumstances shall Traininngsonline.com be liable for any decisions, actions taken or omissions made from reliance on any information contained herein from whatever source, nor shall Traininngsonline.com be liable for any other consequences from any such reliance.</p>
            </div>
        </div>
    </div>
</section>